/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding-top: 72px;
  background-color: #fefefe;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 16px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 42px;
    line-height: 1.14;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.menu-cross, .menu-toggle {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  transition: fill 250ms linear;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: #fefefe;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 3px -2px rgba(105, 105, 105, 0.1);
}

.header-logo {
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .header-logo {
    margin: 10px;
  }
}

.menu-toggle {
  margin: 10px 0;
  fill: #7eb101;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #ffe550;
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-109%);
  overflow: hidden;
  z-index: 99;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(125, 176, 0, 0.2);
  transition: transform 250ms linear, visibility 250ms linear, opacity 250ms linear;
}
@media screen and (min-width: 768px) {
  .backdrop-menu {
    display: none;
  }
}
.backdrop-menu.is-open {
  transform: translateY(0);
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.menu-cross {
  position: absolute;
  top: 4px;
  right: 4px;
  fill: #2c2c2c;
}

.mobile-menu {
  position: absolute;
  right: 20px;
  top: 50px;
  width: 130px;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  background-color: #fefefe;
}
.mobile-menu__link {
  display: block;
  padding: 16px 0 16px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #000000;
}
.mobile-menu__link:active {
  background-color: #bbf330;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .header__menu {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}
.site-nav__list {
  display: flex;
  gap: 25px;
}
.site-nav__item {
  display: inline-block;
}
.site-nav__item--long {
  width: 41px;
}
.site-nav__item--long-1 {
  width: 61px;
}
.site-nav__item--long-2 {
  width: 72px;
}
.site-nav__item--long-3 {
  width: 62px;
}
.site-nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #2c2c2c;
  transition: color 250ms linear, font 250ms linear, -webkit-text-decoration-line 250ms linear;
  transition: color 250ms linear, font 250ms linear, text-decoration-line 250ms linear;
  transition: color 250ms linear, font 250ms linear, text-decoration-line 250ms linear, -webkit-text-decoration-line 250ms linear;
}
.site-nav__link:hover, .site-nav__link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #bbf330;
}
@media screen and (min-width: 1280px) {
  .site-nav__link:hover, .site-nav__link:focus {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
.site-nav__btn {
  margin: 20px 0;
  padding: 6px 18px;
  min-width: 98px;
  height: 32px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5384615385;
  color: #2c2c2c;
  background-color: #bbf330;
  transition: background-color 250ms linear;
}
@media screen and (max-width: 767.98px) {
  .site-nav__btn {
    display: none;
  }
}
.site-nav__btn:hover, .site-nav__btn:focus {
  background-color: #b5ff00;
}

.hero {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: -35px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    margin-bottom: -155px;
  }
}
.hero__text {
  margin-top: 28px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 16px;
    margin-top: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    margin-top: 28px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 0;
  }
  .hero__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__enjoy {
    width: 500px;
  }
  .container__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .hero__title {
    width: 537px;
  }
  .hero__text {
    width: 336px;
  }
  .container__hero {
    position: relative;
  }
}
.hero__button {
  background-color: #bbf330;
  border-radius: 30px;
  padding: 6px 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  align-items: center;
  text-align: center;
  margin-top: 28px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear;
}
@media screen and (min-width: 768px) {
  .hero__button {
    margin-top: 40px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: #b5ff00;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slide__box {
  display: none;
  width: 336px;
  height: 320px;
  overflow: hidden;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .slide__box {
    position: absolute;
    right: 40px;
    top: 85px;
  }
}
@media screen and (min-width: 768px) {
  .slide__box {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .slide__box {
    width: 608px;
    height: 580px;
    margin-top: 14px;
    margin-left: 32px;
  }
}

.slide {
  display: none;
}
@media screen and (min-width: 768px) {
  .slide {
    display: flex;
  }
}

.slide__picture {
  border-radius: 50%;
  border: 14px solid #ffe550;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .slide__picture {
    border: 26px solid #ffe550;
  }
}

.slick-dots {
  visibility: hidden;
}

.slick-arrow {
  background: #ffffff;
  border-radius: 8px;
  width: 28px;
  height: 34px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}
@media screen and (min-width: 1280px) {
  .slick-arrow {
    width: 40px;
    height: 48px;
  }
}

.slick-prev {
  left: 0;
  transform: translate(2%, -50%);
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .slick-prev {
    transform: translate(20%, -50%);
  }
}

.slick-prev:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='30' fill='none'%3E%3Cpath fill='%232C2C2C' d='M.45 15.905 14.383 29.18a1.25 1.25 0 0 0 1.725 0l.015-.015a1.15 1.15 0 0 0 0-1.668l-13.12-12.5 13.12-12.494a1.15 1.15 0 0 0 0-1.668L16.108.82a1.25 1.25 0 0 0-1.725 0L.45 14.095a1.251 1.251 0 0 0 0 1.81Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 11.49px 20.34px;
  background-position: 5.14px 50%;
  transition: background-image 250ms linear;
}
@media screen and (min-width: 1280px) {
  .slick-prev:before {
    background-size: 16.42px 29.05px;
    background-position: 7.06px 50%;
  }
}

.slick-next {
  right: 0;
  transform: translate(-2%, -50%);
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .slick-next {
    transform: translate(-20%, -50%);
  }
}

.slick-next:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='30' fill='none'%3E%3Cpath fill='%232C2C2C' d='M16.55 14.095 2.617.82a1.25 1.25 0 0 0-1.725 0L.877.835a1.15 1.15 0 0 0 0 1.667l13.12 12.5L.877 27.497a1.15 1.15 0 0 0 0 1.668l.015.015a1.25 1.25 0 0 0 1.725 0L16.55 15.905a1.251 1.251 0 0 0 0-1.81Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 11.49px 20.34px;
  background-position: 13.36px 50%;
  transition: background-image 250ms linear;
}
@media screen and (min-width: 1280px) {
  .slick-next:before {
    background-size: 16.42px 29.05px;
    background-position: 18.52px 50%;
  }
}

.slick-prev:hover.slick-prev:before, .slick-prev:focus.slick-prev:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='30' fill='none'%3E%3Cpath fill='%237EB101' d='M.45 15.905 14.383 29.18a1.25 1.25 0 0 0 1.725 0l.015-.015a1.15 1.15 0 0 0 0-1.668l-13.12-12.5 13.12-12.494a1.15 1.15 0 0 0 0-1.668L16.108.82a1.25 1.25 0 0 0-1.725 0L.45 14.095a1.251 1.251 0 0 0 0 1.81Z'/%3E%3C/svg%3E");
}

.slick-next:hover.slick-next:before, .slick-next:focus.slick-next:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='30' fill='none'%3E%3Cpath fill='%237EB101' d='M16.55 14.095 2.617.82a1.25 1.25 0 0 0-1.725 0L.877.835a1.15 1.15 0 0 0 0 1.667l13.12 12.5L.877 27.497a1.15 1.15 0 0 0 0 1.668l.015.015a1.25 1.25 0 0 0 1.725 0L16.55 15.905a1.251 1.251 0 0 0 0-1.81Z'/%3E%3C/svg%3E");
}

.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  color: currentColor;
  outline: none;
  background: #ffffff;
}

.slick-arrow:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.offerings__container {
  padding-bottom: 70px;
  padding-top: 41px;
  background-image: url(../images/offerings/offerings-background-mob_1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .offerings__container {
    background-image: url(../images/offerings/offerings-background-mob_2x.png);
  }
}
@media screen and (min-width: 480px) {
  .offerings__container {
    background-image: url(../images/offerings/offerings-background-mob-480_1x.png);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .offerings__container {
    background-image: url(../images/offerings/offerings-background-mob-480_2x.png);
  }
}
@media screen and (min-width: 768px) {
  .offerings__container {
    background-image: url(../images/offerings/offerings-background-tab_1x.png);
    padding-top: 150px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .offerings__container {
    background-image: url(../images/offerings/offerings-background-tab_2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .offerings__container {
    background-image: url(../images/offerings/offerings-background-desk_1x.png);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 177px;
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .offerings__container {
    background-image: url(../images/offerings/offerings-background-desk_2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .offerings__additional-container {
    margin-right: 35px;
    margin-bottom: 57px;
  }
}

.offerings__image-list {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .offerings__image-list {
    align-items: flex-end;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__image-list {
    margin-bottom: 0;
  }
}

.offerings__image-item {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .offerings__image-item {
    margin-bottom: 68px;
    display: block;
  }
}
.offerings__image-item--main {
  display: block;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .offerings__title {
    width: 500px;
  }
}

.offerings__title-downtext {
  margin: 28px 0;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .offerings__title-downtext {
    width: 500px;
    font-size: 16px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__title-downtext {
    line-height: 1.5;
  }
}

.offerings__describe-list {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offerings__describe-list {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__describe-list {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .offerings__describe-item:nth-child(1) {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .offerings__describe-item:nth-child(1) {
    margin-right: 116px;
  }
}
@media screen and (min-width: 1280px) {
  .offerings__describe-item:nth-child(1) {
    margin-right: 67px;
  }
}
@media screen and (min-width: 768px) {
  .offerings__describe-item {
    width: 252px;
  }
}

.offerings__describe-item::before {
  content: "";
  display: block;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
}

.offerings__describe-item:nth-child(1)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none'%3E%3Cpath fill='%237EB101' d='m7.233 13.633 3.534 1.5c.4-.8.827-1.588 1.283-2.366.456-.778.939-1.522 1.45-2.234L10.867 10l-3.634 3.633Zm5.134 2.7 4.433 4.434a26.195 26.195 0 0 0 3.567-1.967c1.11-.733 2.01-1.444 2.7-2.133 1.8-1.8 3.122-3.645 3.966-5.534.845-1.889 1.3-4.022 1.367-6.4-2.378.067-4.511.523-6.4 1.367-1.889.844-3.733 2.167-5.533 3.967-.69.689-1.4 1.589-2.134 2.7a26.195 26.195 0 0 0-1.966 3.566Zm7.633-3.2c-.444-.444-.667-.994-.667-1.65 0-.655.223-1.205.667-1.65.444-.444.994-.666 1.65-.666.656 0 1.206.222 1.65.666.444.445.667.995.667 1.65 0 .656-.223 1.206-.667 1.65-.444.445-.994.667-1.65.667-.656 0-1.206-.222-1.65-.667ZM19.5 25.9l3.633-3.633-.533-2.634c-.711.512-1.456.995-2.233 1.45-.778.456-1.567.884-2.367 1.284l1.5 3.533ZM30.367 2.767c.2 3.022-.178 5.777-1.134 8.266-.955 2.49-2.533 4.834-4.733 7.034l-.067.066-.066.067.733 3.667c.067.333.05.655-.05.966-.1.312-.272.59-.517.834l-5.7 5.733L16 22.8l-5.667-5.667-6.6-2.833 5.734-5.7c.244-.244.522-.417.833-.517.311-.1.633-.116.967-.05l3.666.734a.263.263 0 0 1 .067-.05.263.263 0 0 0 .067-.05c2.2-2.2 4.544-3.784 7.033-4.75 2.489-.967 5.244-1.35 8.267-1.15Zm-24.4 18.4c.777-.778 1.727-1.173 2.85-1.184 1.122-.01 2.072.373 2.85 1.15.777.778 1.16 1.728 1.15 2.85-.011 1.123-.406 2.073-1.184 2.85-.577.578-1.472 1.056-2.683 1.434-1.211.378-3.028.733-5.45 1.066.333-2.422.683-4.244 1.05-5.466.367-1.223.839-2.123 1.417-2.7Zm1.4 1.433c-.311.333-.59.856-.834 1.567-.244.71-.455 1.622-.633 2.733 1.111-.178 2.022-.389 2.733-.633.711-.245 1.234-.523 1.567-.834.422-.377.639-.85.65-1.416a2.026 2.026 0 0 0-.583-1.484 2.027 2.027 0 0 0-1.484-.583 1.875 1.875 0 0 0-1.416.65Z'/%3E%3C/svg%3E");
}

.offerings__describe-item:nth-child(2)::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none'%3E%3Cpath fill='%237EB101' d='M15.5 1.333c2.022 0 3.75.706 5.183 2.117 1.434 1.411 2.15 3.128 2.15 5.15 0 1.156-.25 2.244-.75 3.267a7.368 7.368 0 0 1-2.116 2.6h-1.134V12.8a5.149 5.149 0 0 0 1.484-1.867 5.422 5.422 0 0 0 .516-2.333c0-1.467-.522-2.711-1.566-3.733-1.045-1.023-2.3-1.534-3.767-1.534s-2.722.511-3.767 1.534C10.69 5.889 10.167 7.133 10.167 8.6c0 .822.172 1.6.516 2.333a5.149 5.149 0 0 0 1.484 1.867v2.4a7.25 7.25 0 0 1-2.934-2.733A7.342 7.342 0 0 1 8.167 8.6c0-2.022.716-3.739 2.15-5.15 1.433-1.411 3.16-2.117 5.183-2.117Zm-1.267 28c-.377 0-.733-.072-1.066-.216a2.766 2.766 0 0 1-.867-.584l-6.867-6.866L7.3 19.733c.311-.31.661-.55 1.05-.716a1.827 1.827 0 0 1 1.217-.084l2.6.6V8.667c0-.934.322-1.723.966-2.367.645-.644 1.434-.967 2.367-.967s1.722.323 2.367.967c.644.644.966 1.433.966 2.367V14.4h.867c.111 0 .211.022.3.067.089.044.189.088.3.133l4.933 2.4c.534.244.928.639 1.184 1.183.255.545.327 1.106.216 1.684l-1.2 7.266a2.518 2.518 0 0 1-.933 1.584 2.692 2.692 0 0 1-1.733.616h-8.534Zm-.266-2h9.366l1.434-8.3-6.1-3.033h-1.834V8.667c0-.4-.122-.723-.366-.967-.245-.244-.567-.367-.967-.367s-.722.123-.967.367c-.244.244-.366.567-.366.967v13.3l-5.134-1.1-.766.766 5.7 5.7Zm9.366 0h-9.366 9.366Z'/%3E%3C/svg%3E");
}

.offerings__icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 50px;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
}

.offerings__subtitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}
@media screen and (min-width: 1280px) {
  .offerings__subtitle {
    line-height: 1.5;
  }
}

.offerings__describe-text {
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 1280px) {
  .offerings__describe-text {
    line-height: 1.5;
  }
}

.offerings__subcontainer {
  display: flex;
  gap: 24px;
}

.offerings__order-btn {
  display: block;
  padding: 10px 22px;
  background-color: #ffffff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  font-size: 13px;
  line-height: 1.5;
  transition: border-color 250ms linear;
}
.offerings__order-btn:hover, .offerings__order-btn:focus {
  border-color: #597d00;
}

.offerings__link {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  transition: color 250ms linear;
}
@media screen and (min-width: 1280px) {
  .offerings__link {
    display: none;
  }
}
.offerings__link:hover, .offerings__link:focus {
  color: #597d00;
}

.offerings__arrow-icon {
  margin-left: 8px;
  transition: fill 250ms linear;
}

.offerings__link:hover .offerings__arrow-icon, .offerings__link:focus .offerings__arrow-icon {
  fill: #597d00;
}

.favorites {
  padding-top: 100px;
  padding-bottom: 100px;
}

.favorites__title {
  margin-bottom: 20px;
  text-align: center;
}

.favorites__text {
  text-align: center;
  margin-bottom: 60px;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

.favorites-list__item {
  width: 280px;
  height: 282px;
  border-radius: 50%;
  border: 14px solid #ffe550;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms linear;
}
@media screen and (min-width: 768px) {
  .favorites-list__item {
    width: 336px;
    height: 338px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites-list__item {
    width: 395px;
    height: 397px;
  }
}
.favorites-list__item:hover, .favorites-list__item:focus {
  border: 14px solid #bbf330;
}

@media screen and (max-width: 767.98px) {
  .avorites-list__item--mob-hidden {
    display: none;
  }
}

.favorites-list__item--image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.customers {
  margin-bottom: -40px;
}
@media screen and (min-width: 321px) {
  .customers {
    margin-bottom: -65px;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    margin-bottom: -75px;
  }
}
@media screen and (min-width: 1280px) {
  .customers {
    margin-bottom: -65px;
  }
}

.customers__container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/customers/customers-background-mob_1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customers__container {
    background-image: url("../images/customers/customers-background-mob_2x.png");
  }
}
@media screen and (min-width: 768px) {
  .customers__container {
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .customers__container {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767.98px) {
  .customers__container {
    height: 769px;
    background-image: url("../images/customers/customers-background-mob-480_1x.png");
  }
}
@media screen and (min-width: 321px) and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .customers__container {
    background-image: url("../images/customers/customers-background-mob-480_2x.png");
  }
}
@media screen and (min-width: 480px) {
  .customers__container {
    background-image: url("../images/customers/customers-background-mob-480_1x.png");
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .customers__container {
    background-image: url("../images/customers/customers-background-mob-480_2x.png");
  }
}
@media screen and (min-width: 768px) {
  .customers__container {
    background-image: url("../images/customers/customers-background-tab_1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .customers__container {
    background-image: url("../images/customers/customers-background-tab_2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .customers__container {
    background-image: url("../images/customers/customers-background-desk_1x.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .customers__container {
    background-image: url("../images/customers/customers-background-desk_2x.png");
  }
}

.customers__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .customers__title {
    font-size: 42px;
    line-height: 1.17;
  }
}

.customers__description {
  margin-bottom: 28px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .customers__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .customers__list {
    display: flex;
  }
}

.customers__item {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 0 30px 30px 30px;
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 336px;
    height: 244px;
  }
}
@media screen and (min-width: 1280px) {
  .customers__item {
    width: 501px;
    height: 227px;
  }
}

@media screen and (max-width: 767.98px) {
  .customers__item:first-child {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .customers__item:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .customers__item:first-child {
    margin-right: 139px;
  }
}

.customers__icon {
  margin-bottom: 28px;
}

.customers__text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .customers__text {
    font-size: 18px;
    line-height: 1.17;
  }
}

.customers__wrap {
  display: flex;
}

.customers__thumb {
  padding-right: 14px;
  border-right: 1px solid #7eb101;
}

.customer__image {
  margin-right: 16px;
  border-radius: 50%;
}

.customers__name {
  font-weight: 500;
  line-height: 1.5;
}

.customers__position {
  line-height: 1.5;
}

.subscribe__section {
  padding-bottom: 60px;
  box-shadow: inset 0px -40px 13px -31px rgb(245, 245, 245);
}
@media screen and (min-width: 480px) {
  .subscribe__section {
    margin: 0 auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__section {
    padding-bottom: 100px;
    margin: 0 auto;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe__section {
    padding-bottom: 64px;
    margin: 0 auto;
    width: 1280px;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.subscribe-picture {
  display: flex;
}
@media screen and (max-width: 768px) {
  .subscribe-picture {
    justify-content: center;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .subscribe-picture {
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe-picture {
    min-width: 608px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
}

.subscribe__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .subscribe__text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    align-items: center;
  }
}

.subscribe-form__input {
  padding: 12px 11px;
  width: 100%;
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  background-color: transparent;
  transition: border-color 250ms linear;
}
.subscribe-form__input:focus {
  outline: 0;
  outline-offset: 0;
  border-color: #7eb101;
}
.subscribe-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #c4c4c4;
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #c4c4c4;
}
.subscribe-form__input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #c4c4c4;
}
@media screen and (max-width: 767.98px) {
  .subscribe-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    min-width: 394px;
  }
}

.subscribe-form__btn {
  padding: 11px 22px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  background-color: #bbf330;
  transition: background-color 250ms linear;
}
.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  background-color: #b5ff00;
}
@media screen and (max-width: 767.98px) {
  .subscribe-form__btn {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form__btn {
    display: block;
    margin-left: 22px;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe-form__btn {
    margin-left: 32px;
  }
}

.input-wrapper {
  position: relative;
}

.input-error {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 10px;
  text-align: left;
  display: none;
  color: #ff705d;
}
.input-error__text {
  margin-left: 4px;
}

.subscribe-form__input:invalid:not(:-moz-placeholder-shown) {
  border-color: #ff705d;
}

.subscribe-form__input:invalid:not(:-ms-input-placeholder) {
  border-color: #ff705d;
}

.subscribe-form__input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
}

.subscribe-form__input:invalid:not(:-moz-placeholder-shown) + .input-error {
  display: flex;
  align-items: center;
}

.subscribe-form__input:invalid:not(:-ms-input-placeholder) + .input-error {
  display: flex;
  align-items: center;
}

.subscribe-form__input:invalid:not(:placeholder-shown) + .input-error {
  display: flex;
  align-items: center;
}

.subscribe-form__input:valid:not(:-moz-placeholder-shown) {
  border-color: #7eb101;
}

.subscribe-form__input:valid:not(:-ms-input-placeholder) {
  border-color: #7eb101;
}

.subscribe-form__input:valid:not(:placeholder-shown) {
  border-color: #7eb101;
}

.footer__container {
  background-image: url("../images/footer/footer-background-mob-top-apple_1x.jpg"), url("../images/footer/footer-background-mob-top-orange_1x.jpg"), url("../images/footer/footer-background-mob-bottom-apple_1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 111px, 100% 0, center bottom;
  padding: 60px 20px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .footer__container {
    background-image: url("../images/footer/footer-background-mob-top-apple_2x.jpg"), url("../images/footer/footer-background-mob-top-orange_2x.jpg"), url("../images/footer/footer-background-mob-bottom-apple_2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    background-image: url("../images/footer/footer-background-tab_1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 100px 32px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer__container {
    background-image: url("../images/footer/footer-background-tab_2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    background-image: url("../images/footer/footer-background-desk_1x.jpg");
    background-position: bottom left 53px;
    background-repeat: no-repeat;
    background-size: 1211px 266px;
    padding: 100px 16px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer__container {
    background-image: url("../images/footer/footer-background-desk_2x.jpg");
  }
}
/*------------ 1rst div  ------------*/
.footer__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .footer__menu {
    margin-top: 0;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__menu {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__menu {
    margin-top: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__block {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .footer__block {
    max-width: 440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: flex-start;
    padding-right: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer__block {
    margin-bottom: 40px;
  }
}
/*------------ logo footer  ------------*/
.footer__logo {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-right: 80px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-right: 148px;
    padding-bottom: 0;
  }
}

.footer__list--services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__list--services {
    display: flex;
    gap: 39;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__list--services {
    display: flex;
    gap: 39;
    flex-direction: row;
  }
}

.footer__item--link {
  color: #2c2c2c;
  line-height: 1.1428571429;
  transition: color 250ms linear;
}
.footer__item--link:hover, .footer__item--link:focus {
  color: #bbf330;
  text-decoration: underline;
}

.footer__item--service {
  display: block;
  font-size: 14px;
  color: #2c2c2c;
  line-height: 1.1428571429;
}

.footer__subscribtion {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__subscribtion {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__subscribtion {
    margin-bottom: 0;
  }
}

.footer__subscribtion--title {
  color: #2c2c2c;
  margin-bottom: 12;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer__subscribtion--title {
    display: flex;
    flex-direction: row;
  }
}
.footer__help {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .footer__help {
    width: auto;
  }
}

.footer__subscription-wrapper {
  display: flex;
  flex-direction: column;
}

/*------------ input  ------------*/
.footer__input {
  max-width: 480px;
  width: 100%;
}

.footer__input--subscription {
  border-radius: 30px;
  width: 100%;
  padding-top: 12;
  padding-bottom: 12;
  background: #fefefe;
  border: 1px solid #ffe550;
  font-size: 12px;
  transition: background-color 250ms linear;
  padding-left: 12;
  transition: border-color 250ms linear;
}
.footer__input--subscription:focus {
  outline: 0;
  outline-offset: 0;
  border-color: #7eb101;
}
.footer__input--subscription::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #c4c4c4;
}
.footer__input--subscription:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #c4c4c4;
}
.footer__input--subscription::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: #c4c4c4;
}
@media screen and (max-width: 767.98px) {
  .footer__input--subscription {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__input--subscription {
    display: inline;
    width: 279px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__input--subscription {
    display: inline;
  }
}

.input[type=email] {
  padding-left: 13px;
}

/*------------  button ------------*/
.footer__input--button {
  display: block;
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 11;
  padding-bottom: 11;
  padding-right: 22;
  padding-left: 22;
  background: #ffffff;
  border: 0.854167px solid #7eb101;
  font-size: 13px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767.98px) {
  .footer__input--button {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__input--button {
    display: inline;
    margin-left: 13;
  }
}

.footer__input--button:hover,
.footer__input--button:focus {
  background: #ffe550;
  border: 0.854167px solid #7eb101;
}

.footer__input--button:active {
  background: #ffe550;
  border: 0.854167px solid #7eb101;
}

.footer__help--text {
  display: block;
  font-size: 10px;
  line-height: 1.1666666667;
  margin-top: 10;
}
@media screen and (min-width: 768px) {
  .footer__help--text {
    font-size: 12px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__help--text {
    font-size: 12px;
  }
}

.footer__help--link {
  color: #7eb101;
  font-style: normal;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  line-height: 1.1666666667;
}

.footer__help-link:hover,
.footer__rule-link:hover,
.footer__item-link:hover,
.footer__logo:hover,
.footer__help-link:focus,
.footer__rule-link:focus,
.footer__item-link:focus,
.footer__logo:focus {
  cursor: pointer;
  color: #7eb101;
}

.footer__input {
  position: relative;
}

/*------------  error ------------*/
.input__error {
  position: absolute;
  top: 44px;
  left: 0;
  display: none;
  font-size: 10px;
  color: #ff705d;
}
.input__error--text {
  margin-left: 4px;
}

.footer__input--subscription:invalid:not(:-moz-placeholder-shown) {
  border-color: #ff705d;
}

.footer__input--subscription:invalid:not(:-ms-input-placeholder) {
  border-color: #ff705d;
}

.footer__input--subscription:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
}

.footer__input--subscription:invalid:not(:-moz-placeholder-shown) + .input__error {
  display: flex;
  align-items: center;
}

.footer__input--subscription:invalid:not(:-ms-input-placeholder) + .input__error {
  display: flex;
  align-items: center;
}

.footer__input--subscription:invalid:not(:placeholder-shown) + .input__error {
  display: flex;
  align-items: center;
}

.footer__input--subscription:valid:not(:-moz-placeholder-shown) {
  border-color: #7eb101;
}

.footer__input--subscription:valid:not(:-ms-input-placeholder) {
  border-color: #7eb101;
}

.footer__input--subscription:valid:not(:placeholder-shown) {
  border-color: #7eb101;
}

/*------------ rules BLOCK  ------------*/
.footer__rules {
  display: inline;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__rules {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__rules {
    display: flex;
    margin-top: 100;
  }
}

/*------------  list with rules ------------*/
.footer__rules--list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .footer__rules--list {
    margin-top: 40px;
    max-width: 440;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__rules--list {
    margin-top: 0;
    display: flex;
    gap: 20;
  }
}
@media screen and (min-width: 1280px) {
  .footer__rules--list {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*------------  item from list (rules) ------------*/
.footer__item-rule {
  display: flex;
  flex-wrap: nowrap;
  color: #7eb101;
  font-style: normal;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 10px;
  justify-content: space-between;
  line-height: 1.1666666667;
}
@media screen and (min-width: 768px) {
  .footer__item-rule {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__item-rule {
    font-size: 12px;
  }
}

/*------------  rule text  ------------*/
.footer__rules--text {
  display: flex;
  font-style: normal;
  justify-content: center;
  margin-top: 40;
  color: #2c2c2c;
  font-size: 10px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 768px) {
  .footer__rules--text {
    font-size: 12px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__rules--text {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
}

/*------------ link footer  ------------*/
.footer__rule-link {
  color: #7eb101;
  line-height: 1.1666666667;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.modal {
  position: absolute;
  top: 60px;
  left: 50%;
  padding: 32px 20px;
  width: 320px;
  height: 449px;
  background-color: #ffe550;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  transform: translateX(-50%) scale(1);
  transition: transform 250ms linear;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 98px;
    padding: 32px;
    width: 458px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    top: 129px;
  }
}

.modal__close-button {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  cursor: pointer;
  transition-property: fill, outline;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: #597d00;
}

.modal__title {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 24px;
}

.order-form__list {
  margin-bottom: 32px;
}

.order-form__field {
  display: flex;
  flex-direction: column;
}
.order-form__field:not(:last-child) {
  margin-bottom: 24px;
}

.order-form__label {
  margin-left: 12px;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.order-form__input {
  padding: 14px 12px;
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 2px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms linear;
  outline: none;
}
.order-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}
.order-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}
.order-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: #c4c4c4;
}
.order-form__input:not(:-moz-placeholder-shown):required:invalid {
  border-color: #ff705d;
}
.order-form__input:not(:-ms-input-placeholder):required:invalid {
  border-color: #ff705d;
}
.order-form__input:not(:placeholder-shown):required:invalid {
  border-color: #ff705d;
}
.order-form__input:valid, .order-form__input:hover, .order-form__input:focus {
  border-color: #7eb101;
}

.order-form__label {
  position: relative;
}

.input-error {
  position: absolute;
  display: none;
  top: 48px;
  left: 12px;
  font-weight: 500;
  font-size: 11px;
  text-align: left;
  line-height: 1.4;
  color: #ff705d;
}
@media screen and (min-width: 1280px) {
  .input-error {
    font-size: 13px;
  }
}

.order-form__input:invalid:not(:-moz-placeholder-shown) {
  border-color: #ff705d;
}

.order-form__input:invalid:not(:-ms-input-placeholder) {
  border-color: #ff705d;
}

.order-form__input:invalid:not(:placeholder-shown) {
  border-color: #ff705d;
}

.order-form__input:invalid:not(:-moz-placeholder-shown) + .input-error {
  display: flex;
  align-items: center;
}

.order-form__input:invalid:not(:-ms-input-placeholder) + .input-error {
  display: flex;
  align-items: center;
}

.order-form__input:invalid:not(:placeholder-shown) + .input-error {
  display: flex;
  align-items: center;
}

.order-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 38px;
  width: 106px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  background: #ffffff;
  border-radius: 30px;
  border: 2px solid #7eb101;
  cursor: pointer;
  transition: background-color 250ms linear;
}
.order-form__submit-button:hover, .order-form__submit-button:focus {
  background-color: #bbf330;
}/*# sourceMappingURL=index.css.map */