<section class="comments">
    <div class="container">
        <h2 class="comments__title">What our Customers Say</h2>
        <p class="comments__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="comments__list list">
            <li class="comments__item">
                <svg class="comments__icon" width="101" height="16">
                    <use href="./images/sprite.svg#icon-stars"></use>
                </svg>
                <p class="comments__text">“The Best app I have used to order food in a while, so many options to
                    choose from too, I would
                    recommend to a freind,
                    No questions asked”</p>
                <ul class="writer__list list">
                    <li class="writer__item">
                        <picture>
                            <source srcset="
                            ./images/customers/1-customer-avatar_1x.webp 1x,
                            ./images/customers/1-customer-avatar_2x.webp 2x,
                            ./images/customers/1-customer-avatar_3x.webp 3x
                            " type="image/webp" />
                            <source srcset="
                            ./images/customers/1-customer-avatar_1x.png 1x,
                            ./images/customers/1-customer-avatar_2x.png 2x,
                            ./images/customers/1-customer-avatar_3x.png 3x
                            " type="image/png" />
                            <img class="writer__image" src="./images/customers/1-customer-avatar_1x.png"
                                alt="Customer" />
                        </picture>
                    </li>
                    <li class="writer__item">
                        <ul class="users__list list">
                            <li class="users__item">
                                <p class="users__text--medium">Sumith Shah</p>
                            </li>
                            <li class="users__item">
                                <p class="users__text">Some Dude</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="comments__item">
                <svg class="star__icon" width="101" height="16">
                    <use href="./images/sprite.svg#icon-stars"></use>
                </svg>
                <p class="comments__text">“The ease with which I can just go in and order what i want was amazing,
                    It has been a very
                    pleasant
                    experience ordering
                    from this app”</p>
                <ul class="writer__list list">
                    <li class="writer__item">
                        <picture>
                            <source srcset="
                            ./images/customers/2-customer-avatar_1x.webp 1x,
                            ./images/customers/2-customer-avatar_2x.webp 2x,
                            ./images/customers/2-customer-avatar_3x.webp 3x
                            " type="image/webp" />
                            <source srcset="
                            ./images/customers/2-customer-avatar_1x.png 1x,
                            ./images/customers/2-customer-avatar_2x.png 2x,
                            ./images/customers/2-customer-avatar_3x.png 3x
                            " type="image/png" />
                            <img class="writer__image" src="./images/customers/1-customer-avatar_1x.png"
                                alt="Customer" />
                        </picture>
                    </li>
                    <li class="writer__item">
                        <ul class="users__list list">
                            <li class="users__item">
                                <p class="users__text--medium">Sumith Shah</p>
                            </li>
                            <li class="users__item">
                                <p class="users__text">Some Dude</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>