<section id="favorites-section">
  <div class="container favorites">
    <h2 class="favorites__title title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <picture>
          <source srcset="
              ./images/favorites/1-gamburger-desk_1x.webp 1x,
              ./images/favorites/1-gamburger-desk_2x.webp 2x
            " media="(min-width:1280px)" width="315" type="image/webp" />
          <source srcset="
              ./images/favorites/1-gamburger-desk_1x.png 1x,
              ./images/favorites/1-gamburger-desk_2x.png 2x
            " media="(min-width:1280px)" width="315" type="image/png" />
          <source srcset="
              ./images/favorites/1-gamburger-tab_1x.webp 1x,
              ./images/favorites/1-gamburger-tab_2x.webp 2x
            " media="(min-width:768px)" width="268" type="image/webp" />
          <source srcset="
              ./images/favorites/1-gamburger-tab_1x.png 1x,
              ./images/favorites/1-gamburger-tab_2x.png 2x
            " media="(min-width:768px)" width="268" type="image/png" />
          <source srcset="
              ./images/favorites/1-gamburger-mob_1x.webp 1x,
              ./images/favorites/1-gamburger-mob_2x.webp 2x
            " media="(max-width:767.9px)" width="224" type="image/webp" />
          <source srcset="
              ./images/favorites/1-gamburger-mob_1x.png 1x,
              ./images/favorites/1-gamburger-mob_2x.png 2x
            " media="(max-width:767.9px)" width="224" type="image/png" />
          <img class="favorites-list__item--image" src="./images/favorites/1-gamburger-mob_1x.png" alt="gamburger"
            width="315" />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source srcset="
              ./images/favorites/2-pasta-desk_1x.webp 1x,
              ./images/favorites/2-pasta-desk_2x.webp 2x
            " media="(min-width:1280px)" width="315" type="image/webp" />
          <source srcset="
              ./images/favorites/2-pasta-desk_1x.png 1x,
              ./images/favorites/2-pasta-desk_2x.png 2x
            " media="(min-width:1280px)" width="315" type="image/png" />
          <source srcset="
              ./images/favorites/2-pasta-tab_1x.webp 1x,
              ./images/favorites/2-pasta-tab_2x.webp 2x
            " media="(min-width:768px)" width="268" type="image/webp" />
          <source srcset="
              ./images/favorites/2-pasta-tab_1x.png 1x,
              ./images/favorites/2-pasta-tab_2x.png 2x
            " media="(min-width:768px)" width="268" type="image/png" />
          <source srcset="
              ./images/favorites/2-pasta-mob_1x.webp 1x,
              ./images/favorites/2-pasta-mob_2x.webp 2x
            " media="(max-width:767.9px)" width="224" type="image/webp" />
          <source srcset="
              ./images/favorites/2-pasta-mob_1x.png 1x,
              ./images/favorites/2-pasta-mob_2x.png 2x
            " media="(max-width:767.9px)" width="224" type="image/png" />
          <img class="favorites-list__item--image" src="./images/favorites/2-pasta-mob_1x.png" alt="pasta"
            width="315" />
        </picture>
      </li>
      <li class="favorites-list__item">
        <picture>
          <source srcset="
              ./images/favorites/3-pizza-desk_1x.webp 1x,
              ./images/favorites/3-pizza-desk_2x.webp 2x
            " media="(min-width:1280px)" width="315" type="image/webp" />
          <source srcset="
              ./images/favorites/3-pizza-desk_1x.png 1x,
              ./images/favorites/3-pizza-desk_2x.png 2x
            " media="(min-width:1280px)" width="315" type="image/png" />
          <source srcset="
              ./images/favorites/3-pizza-tab_1x.webp 1x,
              ./images/favorites/3-pizza-tab_2x.webp 2x
            " media="(min-width:768px)" width="268" type="image/webp" />
          <source srcset="
              ./images/favorites/3-pizza-tab_1x.png 1x,
              ./images/favorites/3-pizza-tab_2x.png 2x
            " media="(min-width:768px)" width="268" type="image/png" />
          <source srcset="
              ./images/favorites/3-pizza-mob_1x.webp 1x,
              ./images/favorites/3-pizza-mob_2x.webp 2x
            " media="(max-width:767.9px)" width="224" type="image/webp" />
          <source srcset="
              ./images/favorites/3-pizza-mob_1x.png 1x,
              ./images/favorites/3-pizza-mob_2x.png 2x
            " media="(max-width:767.9px)" width="224" type="image/png" />
          <img class="favorites-list__item--image" src="./images/favorites/3-pizza-mob_1x.png" alt="pizza"
            width="315" />
        </picture>
      </li>
      <li class="favorites-list__item favorites-list__item--mob-hidden">
        <picture>
          <source srcset="
              ./images/favorites/4-chicken-desk_1x.webp 1x,
              ./images/favorites/4-chicken-desk_2x.webp 2x
            " media="(min-width:1280px)" width="315" type="image/webp" />
          <source srcset="
              ./images/favorites/4-chicken-desk_1x.png 1x,
              ./images/favorites/4-chicken-desk_2x.png 2x
            " media="(min-width:1280px)" width="315" type="image/png" />
          <source srcset="
              ./images/favorites/4-chicken-tab_1x.webp 1x,
              ./images/favorites/4-chicken-tab_2x.webp 2x
            " media="(min-width:768px)" width="268" type="image/webp" />
          <source srcset="
              ./images/favorites/4-chicken-tab_1x.png 1x,
              ./images/favorites/4-chicken-tab_2x.png 2x
            " media="(min-width:768px)" width="268" type="image/png" />
          <img class="favorites-list__item--image" src="./images/favorites/4-chicken-tab_1x.png" alt="chicken"
            width="315" />
        </picture>
      </li>
      <li class="favorites-list__item favorites-list__item--mob-hidden">
        <picture>
          <source srcset="
              ./images/favorites/5-salat-desk_1x.webp 1x,
              ./images/favorites/5-salat-desk_2x.webp 2x
            " media="(min-width:1280px)" width="315" type="image/webp" />
          <source srcset="
              ./images/favorites/5-salat-desk_1x.png 1x,
              ./images/favorites/5-salat-desk_2x.png 2x
            " media="(min-width:1280px)" width="315" type="image/png" />
          <source srcset="
              ./images/favorites/5-salat-tab_1x.webp 1x,
              ./images/favorites/5-salat-tab_2x.webp 2x
            " media="(min-width:768px)" width="268" type="image/webp" />
          <source srcset="
              ./images/favorites/5-salat-tab_1x.png 1x,
              ./images/favorites/5-salat-tab_2x.png 2x
            " media="(min-width:768px)" width="268" type="image/png" />
          <img class="favorites-list__item--image" src="./images/favorites/5-salat-tab_1x.png" alt="salat"
            width="315" />
        </picture>
      </li>
      <li class="favorites-list__item favorites-list__item--mob-hidden">
        <picture>
          <source srcset="
              ./images/favorites/6-borshch-desk_1x.webp 1x,
              ./images/favorites/6-borshch-desk_2x.webp 2x
            " media="(min-width:1280px)" width="315" type="image/webp" />
          <source srcset="
              ./images/favorites/6-borshch-desk_1x.png 1x,
              ./images/favorites/6-borshch-desk_2x.png 2x
            " media="(min-width:1280px)" width="315" type="image/png" />
          <source srcset="
              ./images/favorites/6-borshch-tab_1x.webp 1x,
              ./images/favorites/6-borshch-tab_2x.webp 2x
            " media="(min-width:768px)" width="268" type="image/webp" />
          <source srcset="
              ./images/favorites/6-borshch-tab_1x.png 1x,
              ./images/favorites/6-borshch-tab_2x.png 2x
            " media="(min-width:768px)" width="268" type="image/png" />
          <img class="favorites-list__item--image" src="./images/favorites/6-borshch-tab_1x.png" alt="borsch"
            width="315" />
        </picture>
      </li>
    </ul>
  </div>
</section>