<section id="favorites-section" class="favorites-section">
  <div class="container favorites-container favorites-container--positioning">
    <h2 class="favorites-title">Some of Our Favorites</h2>

    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="favorites-list">
      <li class="favorites-list__item">
        <a href="./index.html" class="favorites-list__link"
          ><picture class="favorites-picture">
            <source
              srcset="
                ./images/favorites/1-gamburger-mob_1x.webp,
                ./images/favorites/1-gamburger-mob_2x.webp 2x,
                ./images/favorites/1-gamburger-mob_3x.webp 3x
              "
              media="(max-width:767px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/1-gamburger-mob_1x.png,
                ./images/favorites/1-gamburger-mob_2x.png 2x,
                ./images/favorites/1-gamburger-mob_3x.png 3x
              "
              media="(max-width:767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/1-gamburger-tab_1x.webp,
                ./images/favorites/1-gamburger-tab_2x.webp 2x,
                ./images/favorites/1-gamburger-tab_3x.webp 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/1-gamburger-tab_1x.png,
                ./images/favorites/1-gamburger-tab_2x.png 2x,
                ./images/favorites/1-gamburger-tab_3x.png 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/1-gamburger-desk_1x.webp,
                ./images/favorites/1-gamburger-desk_2x.webp 2x,
                ./images/favorites/1-gamburger-desk_3x.webp 3x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/1-gamburger-desk_1x.png,
                ./images/favorites/1-gamburger-desk_2x.png 2x,
                ./images/favorites/1-gamburger-desk_3x.png 3x
              "
              media="(min-width:1280px)"
              type="image/png"
            />

            <img
              src="./images/favorites/1-gamburger-mob_1x.png"
              alt="gamburger"
            />
          </picture>
        </a>
      </li>

      <li class="favorites-list__item">
        <a href="./index.html" class="favorites-list__link"
          ><picture class="favorites-picture">
            <source
              srcset="
                ./images/favorites/2-pasta-mob_1x.webp,
                ./images/favorites/2-pasta-mob_2x.webp 2x,
                ./images/favorites/2-pasta-mob_3x.webp 3x
              "
              media="(max-width:767px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/2-pasta-mob_1x.png,
                ./images/favorites/2-pasta-mob_2x.png 2x,
                ./images/favorites/2-pasta-mob_3x.png 3x
              "
              media="(max-width:767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/2-pasta-tab_1x.webp,
                ./images/favorites/2-pasta-tab_2x.webp 2x,
                ./images/favorites/2-pasta-tab_3x.webp 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/2-pasta-tab_1x.png,
                ./images/favorites/2-pasta-tab_2x.png 2x,
                ./images/favorites/2-pasta-tab_3x.png 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/2-pasta-desk_1x.webp,
                ./images/favorites/2-pasta-desk_2x.webp 2x,
                ./images/favorites/2-pasta-desk_3x.webp 3x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/2-pasta-desk_1x.png,
                ./images/favorites/2-pasta-desk_2x.png 2x,
                ./images/favorites/2-pasta-desk_3x.png 3x
              "
              media="(min-width:1280px)"
              type="image/png"
            />

            <img src="./images/favorites/2-pasta-mob_1x.png" alt="pasta" />
          </picture>
        </a>
      </li>

      <li class="favorites-list__item">
        <a href="./index.html" class="favorites-list__link"
          ><picture class="favorites-picture">
            <source
              srcset="
                ./images/favorites/3-pizza-mob_1x.webp,
                ./images/favorites/3-pizza-mob_2x.webp 2x,
                ./images/favorites/3-pizza-mob_3x.webp 3x
              "
              media="(max-width:767px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/3-pizza-mob_1x.png,
                ./images/favorites/3-pizza-mob_2x.png 2x,
                ./images/favorites/3-pizza-mob_3x.png 3x
              "
              media="(max-width:767px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/3-pizza-tab_1x.webp,
                ./images/favorites/3-pizza-tab_2x.webp 2x,
                ./images/favorites/3-pizza-tab_3x.webp 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/3-pizza-tab_1x.png,
                ./images/favorites/3-pizza-tab_2x.png 2x,
                ./images/favorites/3-pizza-tab_3x.png 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/3-pizza-desk_1x.webp,
                ./images/favorites/3-pizza-desk_2x.webp 2x,
                ./images/favorites/3-pizza-desk_3x.webp 3x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/3-pizza-desk_1x.png,
                ./images/favorites/3-pizza-desk_2x.png 2x,
                ./images/favorites/3-pizza-desk_3x.png 3x
              "
              media="(min-width:1280px)"
              type="image/png"
            />

            <img src="./images/favorites/3-pizza-mob_1x.png" alt="pizza" />
          </picture>
        </a>
      </li>

      <li class="favorites-list__item favorites-list__item--hidden">
        <a href="./index.html" class="favorites-list__link"
          ><picture class="favorites-picture">
            <source
              srcset="
                ./images/favorites/4-chicken-tab_1x.webp,
                ./images/favorites/4-chicken-tab_2x.webp 2x,
                ./images/favorites/4-chicken-tab_3x.webp 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/4-chicken-tab_1x.png,
                ./images/favorites/4-chicken-tab_2x.png 2x,
                ./images/favorites/4-chicken-tab_3x.png 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/4-chicken-desk_1x.webp,
                ./images/favorites/4-chicken-desk_2x.webp 2x,
                ./images/favorites/4-chicken-desk_3x.webp 3x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/4-chicken-desk_1x.png,
                ./images/favorites/4-chicken-desk_2x.png 2x,
                ./images/favorites/4-chicken-desk_3x.png 3x
              "
              media="(min-width:1280px)"
              type="image/png"
            />

            <img src="./images/favorites/4-chicken-tab_1x.png" alt="chicken" />
          </picture>
        </a>
      </li>

      <li class="favorites-list__item favorites-list__item--hidden">
        <a href="./index.html" class="favorites-list__link"
          ><picture class="favorites-picture">
            <source
              srcset="
                ./images/favorites/5-salat-tab_1x.webp,
                ./images/favorites/5-salat-tab_2x.webp 2x,
                ./images/favorites/5-salat-tab_3x.webp 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/5-salat-tab_1x.png,
                ./images/favorites/5-salat-tab_2x.png 2x,
                ./images/favorites/5-salat-tab_3x.png 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/5-salat-desk_1x.webp,
                ./images/favorites/5-salat-desk_2x.webp 2x,
                ./images/favorites/5-salat-desk_3x.webp 3x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/5-salat-desk_1x.png,
                ./images/favorites/5-salat-desk_2x.png 2x,
                ./images/favorites/5-salat-desk_3x.png 3x
              "
              media="(min-width:1280px)"
              type="image/png"
            />

            <img src="./images/favorites/5-salat-tab_1x.png" alt="salat" />
          </picture>
        </a>
      </li>

      <li class="favorites-list__item favorites-list__item--hidden">
        <a href="./index.html" class="favorites-list__link"
          ><picture class="favorites-picture">
            <source
              srcset="
                ./images/favorites/6-borshch-tab_1x.webp,
                ./images/favorites/6-borshch-tab_2x.webp 2x,
                ./images/favorites/6-borshch-tab_3x.webp 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/6-borshch-tab_1x.png,
                ./images/favorites/6-borshch-tab_2x.png 2x,
                ./images/favorites/6-borshch-tab_3x.png 3x
              "
              media="(min-width:768px) and (max-width:1279px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/favorites/6-borshch-desk_1x.webp,
                ./images/favorites/6-borshch-desk_2x.webp 2x,
                ./images/favorites/6-borshch-desk_3x.webp 3x
              "
              media="(min-width:1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/favorites/6-borshch-desk_1x.png,
                ./images/favorites/6-borshch-desk_2x.png 2x,
                ./images/favorites/6-borshch-desk_3x.png 3x
              "
              media="(min-width:1280px)"
              type="image/png"
            />

            <img src="./images/favorites/6-borshch-tab_1x.png" alt="borshch" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
