<section class="hero">
  <div class="container container__hero">
    <div class="hero__enjoy">
      <h1 class="hero__title title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button class="hero__button" data-modal-open>Order Now</button>
    </div>

    <div class="slide__box">
      <ul class="slide one-time">
        <li class="slide__item">
          <div>
            <picture>
              <source srcset="
                  ./images/hero/slider-foto-1-desk_1x.webp 1x,
                  ./images/hero/slider-foto-1-desk_2x.webp 2x
                " type="image/webp" media="(min-width:1280px)" width="528" />
              <source srcset="
                  ./images/hero/slider-foto-1-desk_1x.png 1x,
                  ./images/hero/slider-foto-1-desk_2x.png 2x
                " type="image/png" media="(min-width:1280px)" width="528" />
              <source srcset="
                  ./images/hero/slider-foto-1-tab_1x.webp 1x,
                  ./images/hero/slider-foto-1-tab_2x.webp 2x
                " type="image/webp" media="(max-width:1279.98px)" width="292" />
              <source srcset="
                  ./images/hero/slider-foto-1-tab_1x.png 1x,
                  ./images/hero/slider-foto-1-tab_2x.png 2x
                " type="image/png" media="(max-width:1279.98px)" width="292" />

              <img src="./images/hero/slider-foto-1-tab_1x.png" alt="food" class="slide__picture" width="528" />
            </picture>
          </div>
        </li>
        <li class="slide__item">
          <div>
            <picture>
              <source srcset="
                  ./images/hero/slider-foto-2-desk_1x.webp 1x,
                  ./images/hero/slider-foto-2-desk_2x.webp 2x
                " type="image/webp" media="(min-width:1280px)" width="528" />
              <source srcset="
                  ./images/hero/slider-foto-2-desk_1x.png 1x,
                  ./images/hero/slider-foto-2-desk_2x.png 2x
                " type="image/png" media="(min-width:1280px)" width="528" />
              <source srcset="
                  ./images/hero/slider-foto-2-tab_1x.webp 1x,
                  ./images/hero/slider-foto-2-tab_2x.webp 2x
                " type="image/webp" media="(max-width:1279.98px)" width="292" />
              <source srcset="
                  ./images/hero/slider-foto-2-tab_1x.png 1x,
                  ./images/hero/slider-foto-2-tab_2x.png 2x
                " type="image/png" media="(max-width:1279.98px)" width="292" />
              <img src="./images/hero/slider-foto-2-tab_1x.png" alt="food" class="slide__picture" width="528" />
            </picture>
          </div>
        </li>
        <li class="slide__item">
          <div>
            <picture>
              <source srcset="
                  ./images/hero/slider-foto-3-desk_1x.webp 1x,
                  ./images/hero/slider-foto-3-desk_2x.webp 2x
                " type="image/webp" media="(min-width:1280px)" width="528" />
              <source srcset="
                  ./images/hero/slider-foto-3-desk_1x.png 1x,
                  ./images/hero/slider-foto-3-desk_2x.png 2x
                " type="image/png" media="(min-width:1280px)" width="528" />
              <source srcset="
                  ./images/hero/slider-foto-3-tab_1x.webp 1x,
                  ./images/hero/slider-foto-3-tab_2x.webp 2x
                " type="image/webp" media="(max-width:1279.98px)" width="292" />
              <source srcset="
                  ./images/hero/slider-foto-3-tab_1x.png 1x,
                  ./images/hero/slider-foto-3-tab_2x.png 2x
                " type="image/png" media="(max-width:1279.98px)" width="292" />

              <img src="./images/hero/slider-foto-3-tab_1x.png" alt="food" class="slide__picture" width="528" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>