<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="button modal__close-button" type="button" data-modal-close>
      <svg width="24px" height="24px">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="modal__title">Order Form</h2>
    <form class="order-form">
      <ul class="list order-form__list">
        <li class="order-form__field">
          <label class="order-form__label" for="name">Name</label>
          <div class="input-wrapper">
            <input class="input order-form__input" type="text" name="name" id="name" placeholder="Your name"
              minlength="3" maxlength="25" required>
            <span class="input-error">
              <svg class="input-error__icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-warning"></use>
              </svg>
              <span class="input-error__text">The name must be between 3 and 25 characters
              </span>
            </span>
          </div>
        </li>
        <li class="order-form__field">
          <label class="order-form__label" for="tel">Phone number</label>
          <div class="input-wrapper">
            <input class="input order-form__input" type="tel" name="tel" id="tel" maxlength="13" minlength="13"
              placeholder="+38(0_ _) _ _ _   _ _   _ _" pattern="\+?[0-9\s\-\(\)]+"
              title="This phone must be in the format  099 000 00 00" required>
            <span class="input-error">
              <svg class="input-error__icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-warning"></use>
              </svg>
              <span class="input-error__text">This phone must be in the format 099 000 00 00
              </span>
            </span>
          </div>
        </li>
        <li class="order-form__field">
          <label class="order-form__label" for="mail">E-mail</label>
          <div class="input-wrapper">
            <input class="input order-form__input" type="email" name="mail" id="mail" placeholder="example@gmail.com"
              required>
            <span class="input-error">
              <svg class="input-error__icon" width="12" height="12">
                <use href="./images/sprite.svg#icon-warning"></use>
              </svg>
              <span class="input-error__text">Please enter a valid email address
              </span>
            </span>
          </div>
        </li>
      </ul>

      <button class="button order-form__submit-button" type="submit">Send</button>
    </form>
  </div>
</div>