
<div class="backdrop" data-modal>
  <div class="modal">
    <button class="button modal__close-button" type="button" data-modal-close>
        <svg width="24px" height="24px"><use href="./images/sprite.svg#icon-cross"></use></svg>
    </button>
    <h2 class="modal__title">Order Form</h2>
    <form class="order-form">
      <ul class="list order-form__list">
        <li class="order-form__field">
          <label class="order-form__label" for="name">Name</label>
          <input class="input order-form__input" type="text" name="name" id="name" placeholder="Your name" required minlength="3" maxlength="25">
        </li>
        <li class="order-form__field">
          <label class="order-form__label" for="tel">Phone number</label>
          <input class="input order-form__input" type="tel" name="tel" id="tel" placeholder="+38(0_ _) _ _ _   _ _   _ _" required 
          pattern="[0]{1}[0-9]{9}"
          title="This phone must be in the format  099 000 00 00">
        </li>
        <li class="order-form__field">
          <label class="order-form__label" for="mail">E-mail</label>
          <input class="input order-form__input" type="email" name="mail" id="mail" placeholder="example@gmail.com" required>
        </li>
      </ul>
  
      <button class="button order-form__submit-button" type="submit">Send</button>
    </form>
  </div>
</div>
<!-- <script src="./js/modal.js"></script> -->