<section class="offerings">
  <div class="container">
    <ul class="offerings__image-list">
      <li class="offerings__image-item offerings__image-item--main"></li>
      <li class="offerings__image-item"></li>
      <li class="offerings__image-item"></li>
    </ul>
    <h2 class="title">What’s Special About Our Offerings</h2>
    <p class="offerings__describe-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings__describe-list">
      <li class="offerings__describe-item">
        <svg class="offerings__icon">
          <use href=""></use>
        </svg>
        <h3 class="offerings__subtitle">Fastest delivery</h3>
        <p class="offerings__describe-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          ipsum odio laborum ad!
        </p>
      </li>
      <li class="offerings__describe-item">
        <svg class="offerings__icon">
          <use href=""></use>
        </svg>
        <h3 class="offerings__subtitle">Easy to order</h3>
        <p class="offerings__describe-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          ipsum odio laborum ad!
        </p>
      </li>
    </ul>
    <div class="offerings__subcontainer">
      <button class="offerings__order-btn" type="button">Order Now</button>
      <a href=""
        >Read More
        <svg>
          <use href=""></use>
        </svg>
      </a>
    </div>
  </div>
</section>
