<section class="offerings">
  <div class="container offerings__container">
    <ul class="offerings__image-list">
      <li class="offerings__image-item offerings__image-item--main">
        <img
          src="./images/offerings/big-aple-in-circle-desk_1x.png"
          alt="Зелене велике яблуко"
        />
      </li>
      <li class="offerings__image-item">
        <img src="./images/offerings/middle-aple-tab_1x.png" alt="" />
      </li>
      <li class="offerings__image-item">
        <img src="./images/offerings/small-aple-tab_1x.png" alt="" />
      </li>
    </ul>
    <div class="offerings__additional-container">
      <h2 class="title offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__title-downtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__describe-list">
        <li class="offerings__describe-item">
          <div class="offerings__icon-thumb">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__subtitle">Fastest delivery</h3>
          <p class="offerings__describe-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            ipsum odio laborum ad!
          </p>
        </li>
        <li class="offerings__describe-item">
          <div class="offerings__icon-thumb">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-finger"></use>
            </svg>
          </div>
          <h3 class="offerings__subtitle">Easy to order</h3>
          <p class="offerings__describe-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            ipsum odio laborum ad!
          </p>
        </li>
      </ul>
      <div class="offerings__subcontainer">
        <button class="offerings__order-btn" type="button">Order Now</button>
        <a class="offerings__link" href=""
          >Read More
          <svg class="offerings__arrow-icon" width="13.67" height="13.67">
            <use href="./images/sprite.svg#icon-arrow-btn"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
