<section id="offerings-section" class="offerings">
  <div class="container offerings__container">
    <ul class="offerings__image-list">
      <li class="offerings__image-item offerings__image-item--main">
        <picture>
          <source srcset="
              ./images/offerings/big-aple-in-circle-desk_1x.webp 1x,
              ./images/offerings/big-aple-in-circle-desk_2x.webp 2x
            " media="(min-width:1280px)" width="550" type="image/webp" />
          <source srcset="
              ./images/offerings/big-aple-in-circle-desk_1x.png 1x,
              ./images/offerings/big-aple-in-circle-desk_2x.png 2x
            " media="(min-width:1280px)" width="550" type="image/png" />
          <source srcset="
              ./images/offerings/big-aple-in-circle-tab_1x.webp 1x,
              ./images/offerings/big-aple-in-circle-tab_2x.webp 2x
            " media="(min-width:768px)" width="357" type="image/webp" />
          <source srcset="
              ./images/offerings/big-aple-in-circle-tab_1x.png 1x,
              ./images/offerings/big-aple-in-circle-tab_2x.png 2x
            " media="(min-width:768px)" width="357" type="image/png" />
          <source srcset="
              ./images/offerings/big-aple-in-circle-mob_1x.webp 1x,
              ./images/offerings/big-aple-in-circle-mob_2x.webp 2x
            " media="(max-width:767.9px)" width="280" type="image/webp" />
          <source srcset="
              ./images/offerings/big-aple-in-circle-mob_1x.png 1x,
              ./images/offerings/big-aple-in-circle-mob_2x.png 2x
            " media="(max-width:767.9px)" width="280" type="image/png" />
          <img src="./images/offerings/big-aple-in-circle-mob_1x.png" alt="Big green apple" width="550" />
        </picture>
      </li>
      <li class="offerings__image-item">
        <picture>
          <source srcset="
              ./images/offerings/middle-aple-tab_1x.webp 1x,
              ./images/offerings/middle-aple-tab_2x.webp 2x
            " width="166" type="image/webp" />
          <source srcset="
              ./images/offerings/middle-aple-tab_1x.png 1x,
              ./images/offerings/middle-aple-tab_2x.png 2x
            " width="166" type="image/png" />
          <img src="./images/offerings/middle-aple-tab_1x.png" alt="mid size green apple with opacity" />
        </picture>
      </li>
      <li class="offerings__image-item">
        <picture>
          <source srcset="
              ./images/offerings/small-aple-tab_1x.webp 1x,
              ./images/offerings/small-aple-tab_2x.webp 2x
            " width="108" type="image/webp" />
          <source srcset="
              ./images/offerings/small-aple-tab_1x.png 1x,
              ./images/offerings/small-aple-tab_2x.png 2x
            " width="108" type="image/png" />
          <img src="./images/offerings/small-aple-tab_1x.png" alt="small size green apple with opacity" width="166" />
        </picture>
      </li>
    </ul>
    <div class="offerings__additional-container">
      <h2 class="title offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__title-downtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__describe-list">
        <li class="offerings__describe-item">
          <h3 class="offerings__subtitle">Fastest delivery</h3>
          <p class="offerings__describe-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__describe-item">
          <h3 class="offerings__subtitle">Easy to order</h3>
          <p class="offerings__describe-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="offerings__subcontainer">
        <button class="offerings__order-btn" type="button" data-modal-open>
          Order Now
        </button>
        <a class="offerings__link" href="./index.html">Read More
          <svg class="offerings__arrow-icon" width="14" height="14">
            <use href="./images/sprite.svg#icon-arrow-btn"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>