<section id="subscribe-section" class="subscribe__section">
  <div class="container subscribe__container">
    <picture class="subscribe-picture">
      <source
        srcset="
          ./images/subscribe/banan-mob_1x.png,
          ./images/subscribe/banan-mob_2x.png 2x,
          ./images/subscribe/banan-mob_3x.png 3x
        "
        media="(max-width:767px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/subscribe/banan-mob_1x.webp,
          ./images/subscribe/banan-mob_2x.webp 2x,
          ./images/subscribe/banan-mob_3x.webp 3x
        "
        media="(max-width:767px)"
        type="image/webp"
      />

      <source
        srcset="
          ./images/subscribe/banan-tab_1x.png,
          ./images/subscribe/banan-tab_2x.png 2x,
          ./images/subscribe/banan-tab_3x.png 3x
        "
        media="(min-width:768px) and (max-width:1279px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/subscribe/banan-tab_1x.webp,
          ./images/subscribe/banan-tab_2x.webp 2x,
          ./images/subscribe/banan-tab_3x.webp 3x
        "
        media="(min-width:768px) and (max-width:1279px)"
        type="image/webp"
      />

      <source
        srcset="
          ./images/subscribe/banan-desk_1x.png,
          ./images/subscribe/banan-desk_2x.png 2x,
          ./images/subscribe/banan-desk_3x.png 3x
        "
        media="(min-width:1280px)"
        type="image/png"
      />

      <source
        srcset="
          ./images/subscribe/banan-desk_1x.webp,
          ./images/subscribe/banan-desk_2x.webp 2x,
          ./images/subscribe/banan-desk_3x.webp 3x
        "
        media="(min-width:1280px)"
        type="image/webp"
      />
      <img src="./images/subscribe/banan-mob_1x.png" alt="Banan" />
    </picture>

    <div class="subscribe-wrapper">
      <h2 class="subscribe__title title">
        Subscribe To Get Special&nbsp;Offers
      </h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe-form">
        <div class="input-wrapper">
          <label class="subscribe-form__label">
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
              class="subscribe-form__input"
            />
            <span class="input-error">
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="error-icon"
              >
                <g clip-path="url(#clip0_480_6663)">
                  <path
                    d="M6 4.28571V6.85713"
                    stroke="#FF705D"
                    stroke-width="0.857143"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.00084 9.85714C6.23753 9.85714 6.42941 9.66526 6.42941 9.42857C6.42941 9.19188 6.23753 9 6.00084 9C5.76414 9 5.57227 9.19188 5.57227 9.42857C5.57227 9.66526 5.76414 9.85714 6.00084 9.85714Z"
                    stroke="#FF705D"
                    stroke-width="0.857143"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.76333 0.899913C6.6914 0.759512 6.58212 0.641685 6.44752 0.559407C6.31292 0.47713 6.15823 0.433594 6.00048 0.433594C5.84272 0.433594 5.68803 0.47713 5.55343 0.559407C5.41883 0.641685 5.30955 0.759512 5.23762 0.899913L0.523333 10.3285C0.457581 10.459 0.426277 10.6041 0.432392 10.7501C0.438507 10.8961 0.481839 11.0381 0.558272 11.1626C0.634706 11.2871 0.741703 11.39 0.869104 11.4616C0.996504 11.5331 1.14008 11.5709 1.28619 11.5713H10.7148C10.8609 11.5709 11.0044 11.5331 11.1318 11.4616C11.2592 11.39 11.3662 11.2871 11.4427 11.1626C11.5191 11.0381 11.5624 10.8961 11.5686 10.7501C11.5747 10.6041 11.5434 10.459 11.4776 10.3285L6.76333 0.899913Z"
                    stroke="#FF705D"
                    stroke-width="0.857143"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_480_6663">
                    <rect width="12" height="12" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <span class="input-error__text"
                >Not a valid email address (example@email.com)
              </span>
            </span>
          </label>
        </div>
        <button type="submit" class="subscribe-form__btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
