.customers {
  margin-bottom: -40px;

  @media screen and (min-width: 321px) {
    margin-bottom: -65px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: -75px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: -65px;
  }
}

.customers__container {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url('../images/customers/customers-background-mob_1x.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/customers/customers-background-mob_2x.png');
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    padding-bottom: 120px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  @media screen and (min-width: 321px) and (max-width: $mobile-max) {
    height: 769px;
    background-image: url('../images/customers/customers-background-mob-480_1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customers/customers-background-mob-480_2x.png');
    }
  }
  @media screen and (min-width: $mobile) {
    background-image: url('../images/customers/customers-background-mob-480_1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customers/customers-background-mob-480_2x.png');
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: url('../images/customers/customers-background-tab_1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customers/customers-background-tab_2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/customers/customers-background-desk_1x.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/customers/customers-background-desk_2x.png');
    }
  }
}

.customers__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
    line-height: 1.17;
  }
}

.customers__description {
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.19;
  }
}

.customers__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.customers__item {
  background-color: getColor(secondary-bg-color);

  padding: 8px;

  border-radius: 0 30px 30px 30px;

  @media screen and (min-width: $tablet) {
    width: 336px;
    height: 244px;
  }

  @media screen and (min-width: $desktop) {
    width: 501px;
    height: 227px;
  }
}

.customers__item:first-child {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 139px;
  }
}

.customers__icon {
  margin-bottom: 28px;
}

.customers__text {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.17;
  }
}

.customers__wrap {
  display: flex;
}

.customers__thumb {
  padding-right: 14px;

  border-right: 1px solid getColor(border-color);
}

.customer__image {
  margin-right: 16px;

  border-radius: 50%;
}

.customers__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.customers__position {
  font-size: 14px;
  line-height: 1.5;
}
