.footer__container {
  background-image: url('../images/footer/footer-background-mob_1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 60px 20px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/footer/footer-background-mob_2x.jpg');
  }
}

@media screen and (min-width: $tablet) {
  .footer__container {
    background-image: url('../images/footer/footer-background-tab_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/footer/footer-background-tab_2x.jpg');
    }

    padding: 100px 32px;
  }
}

@media screen and (min-width: $desktop) {
  .footer__container {
    background-image: url('../images/footer/footer-background-desk_1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/footer/footer-background-desk_2x.jpg');
    }

    background-position: bottom left 53px;
    background-repeat: no-repeat;
    background-size: 1211px 266px;
    padding: 100px 16px;
  }
}

/*------------ 1rst div  ------------*/

.footer__menu {
  display: flex;

  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width: $mobile-max) {
    margin-top: 0;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__block {
  display: flex;

  align-items: center;

  @media screen and (max-width: $mobile-max) {
    max-width: 440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    align-items: flex-start;

    padding-right: 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
  }
}
/*------------ logo footer  ------------*/
.footer__logo {
  display: block;

  @media screen and (min-width: $tablet) {
    margin-right: 125px;
    padding-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 148px;
    padding-bottom: 0;
  }
}

.footer__list--services {
  display: flex;

  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $mobile-max) {
    margin-top: 4px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 28px;
    flex-direction: row;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 28px;
    flex-direction: row;
  }
}

.footer__item--link {
  color: getColor('secondary-text-color');
  line-height: calc(16 / 14);

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: getColor('link-accent-color');
    text-decoration: underline;
  }

  @media screen and (min-width: $desktop) {
    color: getColor('primary-text-color');
  }
}

.footer__item--service {
  display: block;
  font-size: 14px;

  color: getColor('primary-text-color');
  line-height: calc(16 / 14);
}

.footer__subscribtion {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 100px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.footer__subscribtion--title {
  color: getColor('primary-text-color');
  margin-bottom: 12;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  @media screen and (min-width: $tablet) {
    display: flex;

    flex-direction: row;
  }

  @media screen and (min-width: $desktop) {
  }
}

.footer__help {
  width: 100%;

  @media screen and (min-width: $desktop) {
    width: auto;
  }
}

.footer__subscription-wrapper {
  display: flex;
  flex-direction: column;
}
/*------------ input  ------------*/
.footer__input {
  max-width: 480px;
  width: 100%;
}

.footer__input--subscription {
  border-radius: 30px;
  width: 100%;
  padding-top: 12;
  padding-bottom: 12;
  background: getColor('primary-bg-color');
  border: 1px solid getColor('border-input-color');
  font-size: 12px;
  transition: background-color $transition-duration $timing-function;
  padding-left: 12;

  &:focus {
    outline: 0;
    outline-offset: 0;
    border-color: getColor('border-color');
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: getColor('placeholder-modal-text-color');
  }

  @media screen and (max-width: $mobile-max) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    display: inline;
    width: 279px;
  }

  @media screen and (min-width: $desktop) {
    display: inline;
  }

  transition: border-color $transition-duration $timing-function;
}

.input[type='email'] {
  padding-left: 13px;
}
/*------------  button ------------*/
.footer__input--button {
  display: block;
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 30px;
  padding-top: 11;
  padding-bottom: 11;
  padding-right: 22;
  padding-left: 22;
  background: getColor('secondary-bg-color');
  border: 0.854167px solid getColor('border-color');
  font-size: 13px;
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $mobile-max) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) {
    display: inline;
    margin-left: 13;
  }
}

.footer__input--button:hover,
.footer__input--button:focus {
  background: getColor('border-input-color');
  border: 0.854167px solid getColor('border-color');
}

.footer__input--button:active {
  background: getColor('border-input-color');
  border: 0.854167px solid getColor('border-color');
}

.footer__help--text {
  display: block;

  margin-top: 20px;

  font-size: 10px;
  line-height: calc(14 / 12);

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    margin-top: 15px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 12px;
  }
}

.footer__help--link {
  color: getColor('border-color');
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  line-height: calc(14 / 12);
}

.footer__help-link:hover,
.footer__rule-link:hover,
.footer__item-link:hover,
.footer__logo:hover,
.footer__help-link:focus,
.footer__rule-link:focus,
.footer__item-link:focus,
.footer__logo:focus {
  cursor: pointer;
  color: getColor('border-color');
}

.footer__input {
  position: relative;
}
/*------------  error ------------*/
.input__error {
  position: absolute;
  top: 44px;
  left: 0;
  display: none;

  font-size: 10px;

  color: getColor('border-error-color');

  &--text {
    margin-left: 4px;
  }
}
.footer__input--subscription:invalid:not(:placeholder-shown) {
  border-color: getColor('border-error-color');
}

.footer__input--subscription:invalid:not(:placeholder-shown) + .input__error {
  display: flex;
  align-items: center;
}

.footer__input--subscription:valid:not(:placeholder-shown) {
  border-color: getColor('border-color');
}

/*------------ rules BLOCK  ------------*/
.footer__rules {
  display: inline;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-top: 80px;
  }
}

/*------------  list with rules ------------*/
.footer__rules--list {
  display: flex;

  justify-content: space-between;

  @media screen and (max-width: $mobile-max) {
    max-width: 440;
    width: 100%;

    justify-content: space-between;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0;

    display: flex;

    gap: 20;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
/*------------  item from list (rules) ------------*/
.footer__item-rule {
  display: flex;
  flex-wrap: nowrap;
  color: getColor('border-color');
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  font-size: 10px;
  justify-content: space-between;
  line-height: calc(14 / 12);

  @media screen and (min-width: $tablet) {
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 12px;
  }
}

/*------------  rule text  ------------*/
.footer__rules--text {
  display: flex;
  font-style: normal;
  justify-content: center;
  margin-top: 40;

  color: getColor('primary-text-color');
  font-size: 10px;
  line-height: calc(14 / 12);

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    margin-top: 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;

    font-size: 12px;
  }
}

/*------------ link footer  ------------*/
.footer__rule-link {
  color: getColor('border-color');
  line-height: calc(14 / 12);
}
