// Mixins

// Правий відступ крім останнього нащадка!
@mixin right-indent($indent) {
  &:not(:last-child) {
    margin-right: $indent;
  }
  }
 // Нижній відступ крім останнього нащадка!
  @mixin bottom-indent($indent) {
    &:not(:last-child) {
      margin-bottom: $indent;
    }
    }

// Стилі для приховування модального вікна
.backdrop.is-hidden {
  visibility: hidden;
  
  opacity: 0;
  
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

// Бэкдроп
.backdrop {
  position: fixed;
  top:0%;
  left:0%;

  width: 100%;
  height: 100%;
  
  background-color: rgba(94, 99, 99, 0.7);
  opacity: 1;

  transition: opacity 250ms linear;
}

// Контейнер модалки
.modal-container {
  padding: $indent 20px;
  min-width: 320px;

  @media screen and (min-width: $tablet) {
      padding: $indent;
      min-width: 458px;
  }
}

// Модалка
.modal {
    position:absolute;
    top:60px;
    left:50%;

    visibility: visible;

    background-color: getColor('border-input-color');
    
    border-radius: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

    transform: translate(-50%) scale(1);
    transition: transform 250ms linear;

    @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
      top:50%;
      transform: translate(-50%, -50%) scale(1);
    }
    
    @media screen and (min-width: $desktop) {
      top:129px;
  }
  }

  .modal__close-button {
    position: absolute;
    right: 16px;
    top: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;

    width: 32px;
    height: 32px;

    background-color: getColor('secondary-bg-color');
    
    border: none;
    border-radius: 50%;
    
    cursor: pointer;
  }


//   Order Form

.order-form__title {
    display: block;
    text-align: center;

    margin-bottom: 20px;

    line-height: 1.21;
    font-size: 24px;

    @media screen and (min-width: $mobile) {
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: $desktop) {
      line-height: 1.5;
    }
  }
  .order-form__list {
    margin-bottom: $indent;
  }
  .order-form__field {
    display: flex;
    flex-direction: column;

    @include bottom-indent (24px);
    
    color: '';
  }
  .order-form__label {
    margin-left: 12px;
    margin-bottom: 2px;

    font-weight: 500;
    line-height: 1.38;
  }
  .order-form__input {
    padding: 14px 12px;
    
    width: 100%;

    border-radius: 30px;
    border: 1px solid rgba(18, 18, 18, 0.12);

    outline: none;

    &::placeholder {
        line-height: 1.25;
        color: #c4c4c4;
      }
  }
  
  .order-form__submit-button {
    display: block;
    
    margin: 0 auto;
    padding: 10px 38px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;

    background: getColor('secondary-bg-color');
    
    border-radius: 30px;
    border: 2px solid getColor('border-color');
    
    cursor: pointer;
  }