// Mixins

// Правий відступ крім останнього нащадка!
@mixin right-indent($indent) {
  &:not(:last-child) {
    margin-right: $indent;
  }
}
// Нижній відступ крім останнього нащадка!
@mixin bottom-indent($indent) {
  &:not(:last-child) {
    margin-bottom: $indent;
  }
}

// Стилі для приховування модального вікна
.backdrop.is-hidden {
  visibility: hidden;

  opacity: 0;

  pointer-events: none;
}

// Бэкдроп
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;

  pointer-events: initial;
  opacity: 1;
  visibility: visible;

  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: rgba(94, 99, 99, 0.7);

  overflow-y: scroll;

  transition-property: opacity, visibility;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
}

// Модалка
.modal {
  position: absolute;
  top: 60px;
  left: 50%;

  padding: 32px 20px;

  width: 320px;
  height: 449px;

  background-color: getColor('border-input-color');

  border-radius: 30px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

  transform: translateX(-50%) scale(1);

  transition: transform $transition-duration $timing-function;

  @media screen and (min-width: $tablet) {
    top: 98px;

    padding: 32px;

    width: 458px;
  }

  @media screen and (min-width: $desktop) {
    top: 129px;
  }

  .backdrop.is-hidden & {
    transform: translateX(-50%) scale(0.8);
  }
}

.modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px;

  background-color: getColor('secondary-bg-color');

  border: none;
  border-radius: 50%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));

  cursor: pointer;

  transition-property: fill, outline;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    fill: getColor('btn-border-accent-color');
  }
}

.modal__title {
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

//   Order Form

.order-form__list {
  margin-bottom: $indent;
}
.order-form__field {
  display: flex;
  flex-direction: column;

  @include bottom-indent(24px);
}
.order-form__label {
  margin-left: 12px;
  margin-bottom: 2px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

// Input
.order-form__input {
  padding: 14px 12px;

  width: 100%;
  height: 48px;

  border-radius: 30px;
  border: 1px solid getColor('border-modal-iput-color');

  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);

  transition: border-color $transition-duration $timing-function;

  outline: none;

  // Placeholder
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: getColor('placeholder-modal-text-color');
  }

  // Валідність
  &:not(:placeholder-shown):required:invalid {
    border-color: getColor('border-error-color');
  }

  // Валідність + Ховер і Фокус
  &:valid,
  &:hover,
  &:focus {
    border-color: getColor('border-color');
  }
}

// input-error
.order-form__label {
  position: relative;
}

.input-error {
  position: absolute;
  display: none;

  top: 48px;
  left: 12px;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.4;

  color: getColor('border-error-color');

  @media screen and (min-width: $desktop) {
    font-size: 13px;
  }
}

.order-form__input:invalid:not(:placeholder-shown) {
  border-color: getColor('border-error-color');
}

.order-form__input:invalid:not(:placeholder-shown) + .input-error {
  display: flex;
  align-items: center;
}

// Button
.order-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 10px 38px;

  width: 106px;
  height: 40px;

  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;

  background: getColor('secondary-bg-color');

  border-radius: 30px;
  border: 2px solid getColor('border-color');

  cursor: pointer;

  transition: background-color $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: getColor('link-accent-color');
  }
}
