// Mixins

// Правий відступ крім останнього нащадка!
@mixin right-indent($indent) {
  &:not(:last-child) {
    margin-right: $indent;
  }
  }
 // Нижній відступ крім останнього нащадка!
  @mixin bottom-indent($indent) {
    &:not(:last-child) {
      margin-bottom: $indent;
    }
    }

// Стилі для приховування модального вікна
.backdrop.is-hidden {
  visibility: hidden;
  
  opacity: 0;
  
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

// Бэкдроп
.backdrop {
  position: fixed;
  top:0%;
  left:0%;

  width: 100%;
  height: 100%;
  
  background-color: rgba(94, 99, 99, 0.7);
  opacity: 1;

  transition: opacity 250ms linear;
}

// Модалка
.modal {
    position:absolute;
    top:60px;
    left:50%;

    visibility: visible;

    min-width: 320px;

    padding: $indent 20px;

    background-color: getColor('border-input-color');
    
    border-radius: 30px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

    transform: translateX(-50%) scale(1);
    transition: transform 250ms linear;

    @media screen and (min-width: $tablet) {
      top:98px;
    }
    
    @media screen and (min-width: $desktop) {
      top:129px;
    }

    @media screen and (min-width: $tablet) {
      padding: $indent;
      min-width: 458px;
    }
  }

  .modal__close-button {
    position: absolute;
    right: 16px;
    top: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;

    background-color: getColor('secondary-bg-color');
    
    border: none;
    border-radius: 50%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
    
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
      fill: getColor('btn-border-accent-color');
    }

    &:focus {
      border: 1px solid getColor('btn-border-accent-color');;
    }
  }


//   Order Form

.modal__title {
    display: block;
    text-align: center;

    margin-bottom: 20px;

    line-height: 1.2;
    font-size: 24px;
  }

  .order-form__list {
    margin-bottom: $indent;
  }
  .order-form__field {
    display: flex;
    flex-direction: column;

    @include bottom-indent (24px);
  }
  .order-form__label {
    margin-left: 12px;
    margin-bottom: 2px;

    font-weight: 500;
    line-height: 1.4;
  }
  .order-form__input {
    padding: 14px 12px;
    
    width: 100%;
    height: 48px;

    border-radius: 30px;
    border: 1px solid getColor('border-input-color');

    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);

    outline: none;

    // Placeholder
    &::placeholder {
        line-height: 1.25;
        color: #c4c4c4;
      }
    
    // Валідність
    &:focus:invalid {
      border: 2px solid getColor('border-error-color');
    }
    &:valid {
      border: 2px solid getColor('border-color');
    }

    // Ховеры, фокусы
    &:hover, &:focus {
      border-color:getColor('btn-border-accent-color');
    }
  }
  
  .order-form__submit-button {
    display: block;
    
    margin: 0 auto;
    padding: 10px 38px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.54;

    background: getColor('secondary-bg-color');
    
    border-radius: 30px;
    border: 2px solid getColor('border-color');
    
    cursor: pointer;
    outline: none;

    &:hover, &:focus {
      border-color: getColor('btn-border-accent-color');
    }
  }

  // Анимация
.button,
.input
{
  transition-property: 
  color, fill, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}