.subscribe__section {
    padding-bottom: 60px;
    box-shadow: inset 0px -40px 13px -31px rgba(245, 245, 245, 1);
    
    @media screen and (min-width: $tablet) {
        padding-bottom: 100px;
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 64px;
    }
}

.subscribe__container {
    @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
}


.subscribe-picture {
    display: flex;

    @media screen and (max-width: $tablet) {
        justify-content: center;
        margin-bottom: 17px;
    }

    @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
        min-width: 608px;
    }
}

.subscribe__title {
    margin-bottom: 20px;
    font-weight: 700;
    
}

.subscribe__text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: $tablet) {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
    }
}

.subscribe-form {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.subscribe-form__input {
    padding: 12px 11px;
    width: 100%;
    border: 0.85px solid getColor('border-input-color');
    border-radius: 30px;
    background-color: transparent;

    &:focus {
        outline: 0;
        outline-offset: 0;
        border-color: getColor('border-color');
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.5;
        color: getColor('placeholder-modal-text-color');
    }

    @media screen and (max-width: $mobile-max) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: $tablet) {
        min-width: 394px;
    }

    transition: border-color $transition-duration $timing-function;
}

.subscribe-form__btn {
    padding: 11px 22px;
    border: none;
    border-radius: 30px;
    background-color:getColor('link-accent-color');
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: getColor('primary-text-color');

    &:hover,
    &:focus {
        background-color: getColor('btn-bg-accent-color');
    }

    @media screen and (max-width: $mobile-max) {
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width: $tablet) {
        display: block;
        margin-left: 22px;
        height: 100%;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 32px;
    }

    transition: background-color $transition-duration $timing-function;
}